form {
    padding: 15px;
    background-color: darkolivegreen;
    align-items: center;
    text-align: center;
	vertical-align: middle;
	justify-content: center;
	display: block;
	font-size: 20px;
	min-height: 91vh;
}

form * {
	margin: 5px;
}

form input {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 0;
	padding: 15px;
}

form input:focus {
	border: 0;
}

form button {
	padding: 10px 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
