<!DOCTYPE html>
<html>
    <head>
        <title>500 internal Error</title>
    </head>
    <body>
        {% include 'navbar.jinja2' %}
        <h1>500 internal error <br>Please go back</h1>
    </body>
</html>
