<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Kake</title>
        <!-- font awesome cdn link  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    </head>
    <body>
    {% include 'navbar.jinja2' %}
    {% block body %}{% endblock %}
    {% include 'footer.jinja2' %}
    <script defer src="{{ url_for('static', filename='js/script.js') }}">
    </script>
    </body>
</html>