{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}

{% block body %}
<div id="home" class="styp hidden">
<h1>Home</h1>
<p>
  Hello and welcome to Kake. Here you fulfil your cravings at a very low price.<br> Just login or sign up with your email for
  free today.<br>

  After you sign up, you will get a verification mail from our server.<br> Please check your mail and click on Verify Me to get verified.<br>
  Once you get verified, you can enjoy your supply of cakes.
  </p>
</div>

<div id="FAQ" class="container-fluid styp hidden">
    <p class="h7">Frequently asked Questions (FAQs)</p> 
    <div class="accordion">
        <div class="Icon"></div>
        <p class="h8">Can I remove products in my Cart?</p>
    </div>
    <div class="panel">
        <p class="ftext">Yes, if you wish to remove a particular 
            product from your Cart, click on 'Manage Your Cart'. You will be able to see all products in your cart. Click on the 
            'Remove' button next to the item you wish to remove from your Cart.</p>
    </div>

        <div class="accordion">
        <div class="Icon"></div>
        <p class="h8">Are there any delivery charges?</p>
    </div>
    <div class="panel">
        <p class="ftext">Delivery charges varies from location to location. When you provide pin code of the delivery address, our website will show you the delivery charges for that particular location. Delivery charges ranges between Rs. 0 – 300 rupees.
        </p>
    </div>

    <div class="accordion">
        <div class="Icon"></div>
        <p class="h8">Where to track my shipment of the orders?</p>
    </div>
    <div class="panel">
        <p class="ftext">You can track your order for the latest information on delivery. You will see a 'Track Order' option on the top right corner of the page. Enter your order number & click on 'Track Now' to see the current status of your order.</p>
    </div>

    <div class="accordion">
        <div class="Icon"></div>
        <p class="h8">Will you deliver fresh cakes?</p>
    </div>
    <div class="panel">
        <p class="ftext">A person can enjoy the actual taste of cake only when it's fresh, this is why all the cakes we deliver are prepared only some time before it reaches to the recipient. To achieve the same, we offer customers to choose delivery time as well, so that we know when we need to prepare a cake and get it delivered. We ensure that customer always enjoys the freshest possible cake. We do not believe in delivering stale cakes.
        </p>
    </div>

    <div class="accordion">
        <div class="Icon"></div>
        <p class="h8">gifts can be delivered at address of my choice?</p>
    </div>
    <div class="panel">
        <p class="ftext">We cover urban areas of around 500 cities of India. These cities include 1st Tier, 2nd Tier and 3rd Tier cities. Our team make sure that we only commit to those services that we can offer like delivery time slots, expected time, delivery charges and more. You can check our delivery cities page to find out whether your city of choice is covered by us or not.
        </p>
    </div>
</div>

<div id="about-us" class="styp hidden">
  <h1>About Us</h1>
  We are a team of young students from India who wish to spread happiness and create simplicity in daily life. <br>
  Our team consists of three members:
  <ul>
    <li>Bhuvan</li>
    <li>Pratyush</li>
    <li>Krishna dev</li>
  </ul>
</div>
{% endblock %}